# visualizations
pandas==2.1.4
scikit-learn==1.4.0
dash
plotly
dash-bootstrap-components
reportlab
PyMuPDF
qrcode
pint
kaleido

# experiment execution
codecarbon
seedpy
tqdm
ucimlrepo

# baselines:
autogluon.tabular[all]==1.0.0
tabpfn
naiveautoml
